***  Time Series Forecast  ***

***
Methods
Data set is split to train and test subsets, applied objects and functions:

*   Loading and cleaning data frame using pandas and Python’s datetime class
*   statsmodels.tsa class
*   numpy
*   statsmodels.tsa
*   Model evaluation using sklearn.metrics (RMSE — root mean squared error), and comparison of observed and forecast value integrals 

**STEPS**


1.   **Install and import packages**
2.   **Import data**
3.   **Forecast by using whole data**
4.   **Compare performance and conclusion**

***Import the packages***

In [ ]:
pip install pmdarima

In [ ]:
pip install autots

In [ ]:
pip install auto_ts

In [ ]:
pip install "dask[complete]"

In [ ]:
#mathematical operations
import numpy as np
# from numpy.random import seed
# from numpy.random import normal
import math
import scipy as sp
from scipy.stats import norm

#data handling
import pandas as pd
from pandas import read_csv
import pandas.util.testing as tm
from sklearn.model_selection import train_test_split

# visualization plotting
import matplotlib as mpl
import matplotlib.pyplot as plt   # data visualization
import seaborn as sns             # statistical data visualization
sns.set()
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
%matplotlib inline

#dataframe index manipulations
from datetime import datetime

#muting unnecessary warnings if needed
import warnings

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  if sys.path[0] == '':

In [ ]:
# machine learning and statistical methods
import statsmodels.api as sm
from statsmodels.tsa.seasonal import seasonal_decompose # Error Trend Seasonality decomposition
from statsmodels.tsa.filters.hp_filter import hpfilter  # Hodrick Prescott filter for cyclic & trend separation
from statsmodels.tsa.holtwinters import SimpleExpSmoothing   # single exponential smoothing
from statsmodels.tsa.holtwinters import ExponentialSmoothing as HWES # double and triple exponential smoothing
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.holtwinters import Holt as Holt
#from statsmodels.tsa.arima.model import ARIMA

import pmdarima as pm
from pmdarima.arima import auto_arima
from fbprophet import Prophet
from autots import AutoTS
from auto_ts import auto_timeseries as ATS
import xgboost

from sklearn.model_selection import TimeSeriesSplit as tscv

Imported auto_timeseries version:0.0.64. Call by using:
model = auto_timeseries(score_type='rmse',
        time_interval='M', non_seasonal_pdq=None, seasonality=False,
        seasonal_period=12, model_type=['best'], verbose=2, dask_xgboost_flag=0)
model.fit(traindata, ts_column,target)
model.predict(testdata, model='best')

In [ ]:
#selected preprocessing and evaluation methods
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.preprocessing import StandardScaler
from statsmodels.tsa.stattools import kpss
from statsmodels.tsa.stattools import adfuller
from scipy.stats import shapiro

***Import Data***

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#loading raw data
path = "/content/drive/MyDrive/IS/code/Data1.csv"
df=pd.read_csv(path)
df=df[['date', 'title','quantity']]
df=df.rename(columns= {'title':'menu'})
df.head()

         date          menu  quantity
0  2021-02-17  หมูเด้งต้มยำ       1.0
1  2021-02-17  หมูเด้งต้มยำ       1.0
2  2021-02-17  หมูเด้งต้มยำ       1.0
3  2021-02-17  หมูเด้งต้มยำ       1.0
4  2021-02-17  หมูเด้งต้มยำ       1.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149554 entries, 0 to 149553
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   date      149554 non-null  object
 1   menu      149554 non-null  object
 2   quantity  149550 non-null  float64
dtypes: float64(1), object(2)
memory usage: 3.4+ MB

In [ ]:
# Find unique menu
n_menu =df['menu'].nunique()
print(f'menu: ', n_menu)
print(f'-------------------------------------------------------------------------')
menu = df['menu'].unique()
print(menu)

menu:  23
-------------------------------------------------------------------------
['หมูเด้งต้มยำ' 'ก๋วยเตี๋ยวต้มยำเครื่องทะลัก' 'ข้าวซอยไก่' 'เล้งแซ่บ'
 'ขนมจีนน้ำเงี้ยว' 'ต้มเลือดหมู' 'หมูต้มยำ' 'ต้มยำทะเล'
 'ข้าวผัดพริกเผาทะเล' 'ข้าวผัดหมู' 'ยำวุ้นเส้นทะเล' 'ยำเกี๊ยวกรอบ'
 'หมูต้มยำขลุกขลิก' 'ต้มยำกุ้ง' 'ยำขนมจีนปลาทู' 'หมูจัมโบ้'
 'ต้มยำหมึกยัดไส้' 'ต้มยำหมึก' 'ข้าวกะเพราหมู' 'ข้าวหมูผัดพริกแกงใต้'
 'ต้มยำกุ้งแม่น้ำ' 'ข้าวน้ำพริกปลาทู' 'ลวกจิ้มหมู']

In [ ]:
type(menu)

numpy.ndarray

In [ ]:
df = df.groupby(['date', 'menu'])['quantity'].agg("sum").reset_index()

print(df)

             date              menu  quantity
0      2019-07-04   ขนมจีนน้ำเงี้ยว       1.0
1      2019-07-04     ข้าวกะเพราหมู       2.0
2      2019-07-04        ข้าวซอยไก่       5.0
3      2019-07-04        ข้าวผัดหมู       2.0
4      2019-07-04         ต้มยำทะเล       1.0
...           ...               ...       ...
16902  2022-01-12         หมูจัมโบ้       1.0
16903  2022-01-12          หมูต้มยำ      24.0
16904  2022-01-12  หมูต้มยำขลุกขลิก       3.0
16905  2022-01-12      หมูเด้งต้มยำ      26.0
16906  2022-01-12          เล้งแซ่บ       2.0

[16907 rows x 3 columns]

In [ ]:
#converting dataframe indices to datetime
df['date'] = pd.to_datetime(df.date, format='%Y-%m-%d')
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.dayofyear
df['weekday'] = df['date'].dt.weekday

df.head()

        date             menu  quantity  year  month  day  weekday
0 2019-07-04  ขนมจีนน้ำเงี้ยว       1.0  2019      7  185        3
1 2019-07-04    ข้าวกะเพราหมู       2.0  2019      7  185        3
2 2019-07-04       ข้าวซอยไก่       5.0  2019      7  185        3
3 2019-07-04       ข้าวผัดหมู       2.0  2019      7  185        3
4 2019-07-04        ต้มยำทะเล       1.0  2019      7  185        3

In [ ]:
# sales = df.loc[(df['date'] >= '2021-12-14')]
# sales = sales[['date', 'menu','quantity']]
# sales

In [ ]:
# import openpyxl
# sales.to_excel('Sales_210425.xlsx', sheet_name='Sales30')

In [ ]:
df['menu'].isnull().sum()

0

In [ ]:
# Try on this!!! (last 30)
def forecast(train_df, test_df, test_size):
  #SES
  model_ses = SimpleExpSmoothing(train_df.quantity).fit() #smoothing_level = alpha, optimized = False)
  ses = model_ses.forecast(test_size)
  mean_s = ses.to_frame().iloc[-30:]
  mean_s = mean_s.reset_index().rename(columns={'index':'date', 0 :'demand'}) 
  mean_s = pd.DataFrame(mean_s, columns= ['demand']).astype(int)
  mean_s = mean_s.transpose()
  # Calculate RMSE
  rmse_s = mean_squared_error(test_df['quantity'], ses, squared=False)
  resultS = pd.DataFrame({'Method':'ses','RMSE': ['%.3f' %(rmse_s)]})
  resultS.reset_index(drop=True, inplace=True)
  mean_s.reset_index(drop=True, inplace=True)
  result_ses = pd.concat([resultS, mean_s], axis=1)

  #holt
  model_h = Holt(train_df.quantity)
  fit_h = model_h.fit(optimized=True) # fit_h = model.fit(smoothing_level=.3, smoothing_slope=.05)
  holt = fit_h.forecast(test_size)
  mean_h = holt.to_frame().iloc[-30 :]
  mean_h = mean_h.reset_index().rename(columns={'index':'date', 0 :'demand'}) 
  mean_h = pd.DataFrame(mean_h, columns= ['demand']).astype(int)
  mean_h = mean_h.transpose()
  # Calculate RMSE
  rmse_h = mean_squared_error(test_df['quantity'], holt, squared=False)
  resultH = pd.DataFrame({'Method':'holt','RMSE': ['%.3f' %(rmse_h)]})
  resultH.reset_index(drop=True, inplace=True)
  mean_h.reset_index(drop=True, inplace=True)
  result_h = pd.concat([resultH, mean_h], axis=1)
  
  #holt_damp
  model_hd = Holt(train_df.quantity, damped_trend=True, initialization_method="estimated").fit()
  holt_damp = model_hd.forecast(test_size)

  mean_hd = holt_damp.to_frame().iloc[-30 :]
  mean_hd = mean_hd.reset_index().rename(columns={'index':'date', 0 :'demand'}) 
  mean_hd = pd.DataFrame(mean_hd, columns= ['demand']).astype(int)
  mean_hd = mean_hd.transpose()
  # Calculate RMSE
  rmse_hd = mean_squared_error(test_df['quantity'], holt_damp, squared=False)
  resultHd = pd.DataFrame({'Method':'holt_damp','RMSE': ['%.3f' %(rmse_hd)]})
  resultHd.reset_index(drop=True, inplace=True)
  mean_hd.reset_index(drop=True, inplace=True)
  result_hd = pd.concat([resultHd, mean_hd], axis=1)

  #holtwinter_additive
  model_hw_ad = HWES(train_df ['quantity'],seasonal='add',seasonal_periods=7).fit()
  holtwinter_additive = model_hw_ad.forecast(test_size)
  
  mean_hw_ad = holtwinter_additive.to_frame().iloc[-30 :]
  mean_hw_ad = mean_hw_ad.reset_index().rename(columns={'index':'date', 0 :'demand'}) 
  mean_hw_ad = pd.DataFrame(mean_hw_ad, columns= ['demand']).astype(int)
  mean_hw_ad = mean_hw_ad.transpose()
  # Calculate RMSE
  rmse_hw_ad = mean_squared_error(test_df['quantity'], holtwinter_additive, squared=False)
  resultHA = pd.DataFrame({'Method':'holtwinter_additive','RMSE': ['%.3f' %(rmse_hw_ad)]})
  resultHA.reset_index(drop=True, inplace=True)
  mean_hw_ad.reset_index(drop=True, inplace=True)
  result_hw_ad = pd.concat([resultHA, mean_hw_ad], axis=1)


  #holtwinter_multiplicative
  model_hw_m = HWES(train_df ['quantity'],seasonal='mul',seasonal_periods=7).fit()
  holtwinter_multiplicative = model_hw_m.forecast(test_size)
  mean_hw_m = holtwinter_multiplicative.to_frame().iloc[-30 :]
  mean_hw_m = mean_hw_m.reset_index().rename(columns={'index':'date', 0 :'demand'}) 
  mean_hw_m = pd.DataFrame(mean_hw_m, columns= ['demand']).astype(int)
  mean_hw_m = mean_hw_m.transpose()
  # Calculate RMSE
  rmse_hw_m = mean_squared_error(test_df['quantity'], holtwinter_multiplicative, squared=False)
  resultHM = pd.DataFrame({'Method':'holtwinter_multiplicative','RMSE': ['%.3f' %(rmse_hw_m)]})
  resultHM.reset_index(drop=True, inplace=True)
  mean_hw_m.reset_index(drop=True, inplace=True)
  result_hw_m = pd.concat([resultHM, mean_hw_m], axis=1)


  #holtwinter_multiplicative_damp
  model_hw_md = HWES(train_df.quantity,trend='mul', seasonal='mul', damped =True,seasonal_periods=7).fit() #seasonal=None
  holtwinter_multiplicative_damp = model_hw_md.forecast(test_size)
  mean_hm = holtwinter_multiplicative_damp.to_frame().iloc[-30 :]
  mean_hm = mean_hm.reset_index().rename(columns={'index':'date', 0 :'demand'}) 
  mean_hm = pd.DataFrame(mean_hm, columns= ['demand']).astype(int)
  mean_hm = mean_hm.transpose()
  # Calculate RMSE
  rmse_hm = mean_squared_error(test_df['quantity'], holtwinter_multiplicative_damp, squared=False)
  resultHMd = pd.DataFrame({'Method':'holtwinter_multiplicative_damp','RMSE': ['%.3f' %(rmse_hm)]})
  resultHMd.reset_index(drop=True, inplace=True)
  mean_hm.reset_index(drop=True, inplace=True)
  result_hw_md = pd.concat([resultHMd, mean_hm], axis=1)

  #fbprophet
  m = Prophet(daily_seasonality=True, seasonality_mode='additive')
  alldf = train_df.rename(columns={'date':'ds', 'quantity':'y'})
  m.fit(alldf)
  future = m.make_future_dataframe(periods=1 ,freq='D') 
  prophet_pred = m.predict(future)
  prophet_pred = prophet_pred[['ds','yhat']]
  fbprophet=prophet_pred.round(0)
  fbprophet= fbprophet.rename(columns={'ds':'date', 'yhat':'quantity'})
  fbprophet['date'] = pd.to_datetime(fbprophet.date, format='%Y-%m-%d').dt.strftime('%Y-%m-%d')
  fbprophet = fbprophet.iloc[-test_size:]
  fb = fbprophet.tail(30)
  mean_f = fb['quantity'] 
  mean_f = pd.DataFrame(mean_f, columns= ['quantity']).astype(int)
  mean_f = mean_f.transpose()
  # Calculate RMSE
  rmse_f = mean_squared_error(test_df['quantity'], fbprophet['quantity'], squared=False) 
  resultF = pd.DataFrame({'Method':'fbprophet','RMSE': ['%.3f' %(rmse_f)]}) 
  resultF.reset_index(drop=True, inplace=True)
  mean_f.reset_index(drop=True, inplace=True)
  result_fb = pd.concat([resultF, mean_f], axis=1)

  #arima
  model_arima = auto_arima(train_df['quantity'], trace=True, error_action='ignore', suppress_warnings=True)
  model_arima.fit(train_df['quantity'])
  forecast_arima = model_arima.predict(n_periods=test_size)
  arima = pd.DataFrame(forecast_arima,index = test_df['quantity'].index,columns=['quantity'])
  a = arima.iloc[-30:]
  mean_a = a['quantity'] 
  mean_a = pd.DataFrame(mean_a, columns= ['quantity']).astype(int)
  mean_a = mean_a.transpose()
  # Calculate RMSE
  rmse_a = mean_squared_error(test_df['quantity'], arima, squared=False) 
  resultA = pd.DataFrame({'Method':'arima','RMSE': ['%.3f' %(rmse_a)]}) 
  resultA.reset_index(drop=True, inplace=True)
  mean_a.reset_index(drop=True, inplace=True)
  result_A = pd.concat([resultA, mean_f], axis=1)
  
  #XGB
  X = train_df.iloc[:,1:-1].values
  y = train_df.iloc[:, -1].values
  # Create train & test datasets
  #from sklearn.model_selection import train_test_split
  X_train, X_test, y_train, y_test = \
          train_test_split(X, y, test_size = 0.12, \
                          random_state = 0, shuffle=False)
  # Scale the independent variables
  from sklearn.preprocessing import StandardScaler
  scalerX = StandardScaler().fit(X_train)
  X_train_scaled = scalerX.transform(X_train)
  X_test_scaled = scalerX.transform(X_test)
  X_test_df = test_df.iloc[:,1:-1].values
  X_test_df_scaled = scalerX.transform(X_test_df)
  reg = xgboost.XGBRegressor(objective='reg:squarederror', \
                            n_estimators=1000, \
                            nthread=24)
  reg.fit(X_train_scaled, y_train)
  predict_xgb = reg.predict(X_test_df)
  predict_xgb = pd.DataFrame({'Predictions': \
                                      predict_xgb})
  result_xgb = pd.concat( \
                        [df.tail(len(X_test_df)) \
                                .reset_index(drop=True), \
                          predict_xgb], axis=1)

  xgb = result_xgb[['date', 'Predictions']]
  mean_x = xgb.iloc[-30:]
  mean_x = mean_x ['Predictions'] 
  mean_x = pd.DataFrame(mean_x, columns= ['Predictions']).astype(int)
  mean_x = mean_x.transpose()
  # Calculate RMSE
  rmse_x = mean_squared_error(test_df['quantity'], xgb['Predictions'], squared=False) 
  resultX = pd.DataFrame({'Method':'xgb','RMSE': ['%.3f' %(rmse_x)]}) 
  resultX.reset_index(drop=True, inplace=True)
  mean_x.reset_index(drop=True, inplace=True)
  result_X = pd.concat([resultX, mean_x], axis=1)

  #compare model
  result_ses.reset_index(drop=True, inplace=True)
  result_h.reset_index(drop=True, inplace=True)
  result_hd.reset_index(drop=True, inplace=True)
  result_hw_ad.reset_index(drop=True, inplace=True)
  result_hw_m.reset_index(drop=True, inplace=True)
  result_hw_md.reset_index(drop=True, inplace=True)
  result_fb.reset_index(drop=True, inplace=True)
  result_A.reset_index(drop=True, inplace=True)
  result_X.reset_index(drop=True, inplace=True)
  bestDf = pd.DataFrame(np.concatenate([result_ses.values, result_h.values, \
                                        result_hd.values, result_hw_ad.values, \
                                        result_hw_m.values, result_hw_md.values, \
                                        result_fb.values, result_A.values, \
                                        result_X.values]), columns = result_ses.columns)   #axis=0,   
  
  bestDf['RMSE'] = bestDf['RMSE'].astype('float64')
  bestDf = bestDf.sort_values('RMSE').drop_duplicates(['RMSE'], keep='first')
  best = bestDf[bestDf['RMSE'] == bestDf['RMSE'].min()]
  

  #Calculate S.D.
  sdv = train_df.quantity.std()
  sdvDf = pd.DataFrame({'S.D.': ['%.2f' %(sdv)]})

  best.reset_index(drop=True, inplace=True)
  sdvDf.reset_index(drop=True, inplace=True)
  best = pd.concat([best, sdvDf], axis=1)

  return best

In [ ]:
AllBestModel = pd.DataFrame(columns = ['Menu', 'Method','RMSE','1','2','3','4','5','6','7','8','9','10',\
                                       '11','12','13','14','15','16','17','18','19','20',\
                                       '21','22','23','24','25','26','27','28','29', '30','S.D.'])

In [ ]:
nub = 0

In [ ]:
# Try for loop HERE ;w;
for m in menu:
  for n in df['menu']:
    if (n == m):
      eiei = df[(df['menu']  == n)]
      #print(eiei)

  eiei.drop(['menu'], axis=1, inplace=True)
      
  #Count data
  data =eiei['date'].nunique()
  #Train/Test Split                                
  split = round(data * 0.70) 
  train_df = eiei[:split] 
  test_df = eiei[split:]
  test_size = len(test_df)
  

  bestModel = forecast(train_df, test_df, test_size)
  print("Best Model",bestModel)

  new_row = {'Menu': m, 'Method':bestModel['Method'].item(), 'RMSE':bestModel['RMSE'].item(), \
             '1':bestModel[0].item(), '2':bestModel[1].item(), '3':bestModel[2].item(), '4':bestModel[3].item(),\
             '5':bestModel[4].item(), '6':bestModel[5].item(), '7':bestModel[6].item(), '8':bestModel[7].item(),\
             '9':bestModel[8].item(), '10':bestModel[9].item(), '11':bestModel[10].item(), '12':bestModel[11].item(),\
             '13':bestModel[12].item(), '14':bestModel[13].item(), '15':bestModel[14].item(), '16':bestModel[15].item(),\
             '17':bestModel[16].item(), '18':bestModel[17].item(), '19':bestModel[18].item(), '20':bestModel[19].item(),\
             '21':bestModel[20].item(), '22':bestModel[21].item(), '23':bestModel[22].item(), '24':bestModel[23].item(),\
             '25':bestModel[24].item(), '26':bestModel[25].item(), '27':bestModel[26].item(), '28':bestModel[27].item(),\
             '29':bestModel[28].item(), '30':bestModel[29].item(), 'S.D.':bestModel['S.D.'].item()}  # 
  
 
  AllBestModel = AllBestModel.append(new_row, ignore_index = True)
  print("Menu Number: ", nub)
  nub += 1


print("I'm DONE!!!!!!")

Performing stepwise search to minimize aic
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=4856.817, Time=0.53 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=5150.699, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=5013.975, Time=0.11 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=4858.805, Time=0.12 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=5148.703, Time=0.02 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=4859.295, Time=0.36 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=4855.486, Time=0.32 sec
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=4860.797, Time=0.21 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=4915.603, Time=0.18 sec
 ARIMA(3,1,1)(0,0,0)[0] intercept   : AIC=4857.351, Time=0.42 sec
 ARIMA(3,1,0)(0,0,0)[0] intercept   : AIC=4892.360, Time=0.23 sec
 ARIMA(3,1,2)(0,0,0)[0] intercept   : AIC=4858.595, Time=1.01 sec
 ARIMA(2,1,1)(0,0,0)[0]             : AIC=4853.587, Time=0.29 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=4858.927, Time=0.22 sec
 ARIMA(2,1,0)(0,0,0)[0]             : AIC=4913.619, Time=0.16 sec
 ARIMA(3,1,1)(0,0,0)[0]             : AIC=4855.456, Time=0.45 sec
 ARIMA(2,1,2)(0,0,0)[0]             : AIC=4854.927, Time=0.48 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=5011.983, Time=0.11 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=4857.433, Time=0.32 sec
 ARIMA(3,1,0)(0,0,0)[0]             : AIC=4890.386, Time=0.24 sec
 ARIMA(3,1,2)(0,0,0)[0]             : AIC=4856.701, Time=0.88 sec

Best model:  ARIMA(2,1,1)(0,0,0)[0]
Total fit time: 6.715 seconds
Best Model   Method   RMSE   0   1   2   3   4   5   6   7  ...  21  22  23  24  25  26  \
0  arima  9.591  47  54  49  46  48  45  46  47  ...  47  54  49  46  48  45

   27  28  29   S.D.
0  46  47  53  19.81

[1 rows x 33 columns]
Menu Number:  0
Performing stepwise search to minimize aic
 ARIMA(2,0,2)(0,0,0)[0] intercept   : AIC=inf, Time=1.24 sec
 ARIMA(0,0,0)(0,0,0)[0] intercept   : AIC=574.265, Time=0.11 sec
 ARIMA(1,0,0)(0,0,0)[0] intercept   : AIC=575.992, Time=0.06 sec
 ARIMA(0,0,1)(0,0,0)[0] intercept   : AIC=576.003, Time=0.09 sec
 ARIMA(0,0,0)(0,0,0)[0]             : AIC=918.610, Time=0.01 sec
 ARIMA(1,0,1)(0,0,0)[0] intercept   : AIC=577.972, Time=0.32 sec

Best model:  ARIMA(0,0,0)(0,0,0)[0] intercept
Total fit time: 1.839 seconds
Best Model   Method   RMSE  0  1  2  3  4  5  6  7  ... 21 22 23 24 25 26 27 28 29  S.D.
0   holt  0.561  1  1  1  1  1  1  1  1  ...  1  1  1  1  1  1  1  1  1  0.84

[1 rows x 33 columns]
Menu Number:  1
Performing stepwise search to minimize aic
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=3771.068, Time=0.32 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=4079.522, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=3926.644, Time=0.11 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=3765.685, Time=0.15 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=4077.531, Time=0.02 sec
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=3767.090, Time=0.25 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=3767.103, Time=0.21 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=3769.131, Time=0.65 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=3764.624, Time=0.05 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=3766.094, Time=0.09 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=3766.104, Time=0.08 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=3924.673, Time=0.05 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=3768.112, Time=0.25 sec

Best model:  ARIMA(0,1,1)(0,0,0)[0]
Total fit time: 2.286 seconds
Best Model       Method   RMSE   0   1   2   3   4   5   6   7  ...  21  22  23  24  25  \
0  fbprophet  6.173  17  17  18  16  17  18  21  17  ...  17  17  18  16  17

   26  27  28  29  S.D.
0  18  21  17  18  7.25

[1 rows x 33 columns]
Menu Number:  2
Performing stepwise search to minimize aic
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=2197.972, Time=0.45 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=2449.741, Time=0.02 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=2357.393, Time=0.07 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=2198.483, Time=0.11 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=2447.748, Time=0.02 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=2199.077, Time=0.34 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=2196.116, Time=0.23 sec
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=2200.081, Time=0.18 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=2282.038, Time=0.12 sec
 ARIMA(3,1,1)(0,0,0)[0] intercept   : AIC=2197.971, Time=0.29 sec
 ARIMA(3,1,0)(0,0,0)[0] intercept   : AIC=2253.244, Time=0.13 sec
 ARIMA(3,1,2)(0,0,0)[0] intercept   : AIC=2200.023, Time=0.35 sec
 ARIMA(2,1,1)(0,0,0)[0]             : AIC=2194.153, Time=0.10 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=2198.122, Time=0.08 sec
 ARIMA(2,1,0)(0,0,0)[0]             : AIC=2280.050, Time=0.05 sec
 ARIMA(3,1,1)(0,0,0)[0]             : AIC=2196.009, Time=0.13 sec
 ARIMA(2,1,2)(0,0,0)[0]             : AIC=2196.010, Time=0.21 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=2355.403, Time=0.03 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=2197.119, Time=0.14 sec
 ARIMA(3,1,0)(0,0,0)[0]             : AIC=2251.257, Time=0.09 sec
 ARIMA(3,1,2)(0,0,0)[0]             : AIC=2198.061, Time=0.16 sec

Best model:  ARIMA(2,1,1)(0,0,0)[0]
Total fit time: 3.346 seconds
Best Model                            Method   RMSE  0  1  2  3  4  5  6  7  ... 21 22  \
0  holtwinter_multiplicative_damp  1.754  2  2  2  2  2  2  2  2  ...  2  2

  23 24 25 26 27 28 29  S.D.
0  2  2  2  2  2  2  2  3.22

[1 rows x 33 columns]
Menu Number:  3
Performing stepwise search to minimize aic
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=3402.869, Time=0.53 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=3702.694, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=3548.998, Time=0.09 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=3400.452, Time=0.15 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=3700.705, Time=0.02 sec
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=3400.119, Time=0.16 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=3401.097, Time=0.31 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=3401.247, Time=0.56 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=3399.853, Time=0.19 sec
 ARIMA(0,1,3)(0,0,0)[0] intercept   : AIC=3401.015, Time=0.29 sec
 ARIMA(1,1,3)(0,0,0)[0] intercept   : AIC=3402.207, Time=0.89 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=3398.534, Time=0.09 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=3399.225, Time=0.04 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=3399.877, Time=0.22 sec
 ARIMA(0,1,3)(0,0,0)[0]             : AIC=3399.636, Time=0.12 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=3398.818, Time=0.10 sec
 ARIMA(1,1,3)(0,0,0)[0]             : AIC=3400.900, Time=0.49 sec

Best model:  ARIMA(0,1,2)(0,0,0)[0]
Total fit time: 4.278 seconds
Best Model       Method   RMSE   0   1   2   3   4   5   6   7  ...  21  22  23  24  25  \
0  holt_damp  6.403  19  19  19  19  19  19  19  19  ...  19  19  19  19  19

   26  27  28  29   S.D.
0  19  19  19  19  12.45

[1 rows x 33 columns]
Menu Number:  4
Performing stepwise search to minimize aic
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=3362.135, Time=0.75 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=3679.434, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=3522.346, Time=0.09 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=3356.356, Time=0.16 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=3677.441, Time=0.03 sec
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=3358.184, Time=0.26 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=3358.179, Time=0.24 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=3360.164, Time=0.63 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=3354.825, Time=0.06 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=3356.670, Time=0.07 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=3356.665, Time=0.10 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=3520.357, Time=0.04 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=3358.649, Time=0.29 sec

Best model:  ARIMA(0,1,1)(0,0,0)[0]
Total fit time: 2.775 seconds
Best Model       Method   RMSE   0   1   2   3   4   5   6   7  ...  21  22  23  24  25  \
0  fbprophet  4.463  10  11  11  11  10  10  10  10  ...  10  11  11  11  10

   26  27  28  29  S.D.
0  11  10  10  11  4.80

[1 rows x 33 columns]
Menu Number:  5
Performing stepwise search to minimize aic
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=4639.084, Time=1.29 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=4841.878, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=4709.274, Time=0.11 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=4636.990, Time=0.16 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=4839.887, Time=0.02 sec
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=4637.532, Time=0.20 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=4637.660, Time=0.21 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=4637.016, Time=1.11 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=4635.095, Time=0.06 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=4635.652, Time=0.09 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=4635.778, Time=0.10 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=4707.299, Time=0.07 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=4633.510, Time=0.60 sec
 ARIMA(2,1,2)(0,0,0)[0]             : AIC=4637.044, Time=0.64 sec
 ARIMA(1,1,3)(0,0,0)[0]             : AIC=inf, Time=0.81 sec
 ARIMA(0,1,3)(0,0,0)[0]             : AIC=4637.321, Time=0.12 sec
 ARIMA(2,1,1)(0,0,0)[0]             : AIC=4637.073, Time=0.14 sec
 ARIMA(2,1,3)(0,0,0)[0]             : AIC=4629.628, Time=0.97 sec
 ARIMA(3,1,3)(0,0,0)[0]             : AIC=4631.082, Time=1.11 sec
 ARIMA(2,1,4)(0,0,0)[0]             : AIC=4631.070, Time=1.23 sec
 ARIMA(1,1,4)(0,0,0)[0]             : AIC=4640.099, Time=0.38 sec
 ARIMA(3,1,2)(0,0,0)[0]             : AIC=4640.390, Time=0.47 sec
 ARIMA(3,1,4)(0,0,0)[0]             : AIC=4633.129, Time=1.40 sec
 ARIMA(2,1,3)(0,0,0)[0] intercept   : AIC=4631.135, Time=1.68 sec

Best model:  ARIMA(2,1,3)(0,0,0)[0]
Total fit time: 13.024 seconds
Best Model       Method    RMSE   0   1   2   3   4   5   6   7  ...  21  22  23  24  25  \
0  fbprophet  10.196  23  25  20  20  20  19  19  22  ...  22  24  18  19  18

   26  27  28  29   S.D.
0  18  18  21  24  15.60

[1 rows x 33 columns]
Menu Number:  6
Performing stepwise search to minimize aic
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=3885.841, Time=0.48 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=4185.204, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=4019.316, Time=0.10 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=3880.441, Time=0.13 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=4183.206, Time=0.02 sec
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=3882.377, Time=0.19 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=3882.374, Time=0.19 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=3884.383, Time=0.46 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=3878.518, Time=0.06 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=3880.453, Time=0.08 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=3880.449, Time=0.08 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=4017.322, Time=0.05 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=3882.461, Time=0.19 sec

Best model:  ARIMA(0,1,1)(0,0,0)[0]
Total fit time: 2.066 seconds
Best Model   Method   RMSE  0  1  2  3  4  5  6  7  ... 21 22 23 24 25 26 27 28 29  S.D.
0    xgb  4.456  3  3  3  3  3  3  3  3  ...  3  3  2  2  3  3  3  3  3  9.22

[1 rows x 33 columns]
Menu Number:  7
Performing stepwise search to minimize aic
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=2805.459, Time=0.60 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=3129.096, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=2995.403, Time=0.08 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=2806.333, Time=0.18 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=3127.096, Time=0.03 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=2806.848, Time=0.64 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=2806.781, Time=0.30 sec
 ARIMA(3,1,2)(0,0,0)[0] intercept   : AIC=2805.931, Time=0.69 sec
 ARIMA(2,1,3)(0,0,0)[0] intercept   : AIC=2801.409, Time=1.66 sec
 ARIMA(1,1,3)(0,0,0)[0] intercept   : AIC=2808.894, Time=0.37 sec
 ARIMA(3,1,3)(0,0,0)[0] intercept   : AIC=2811.360, Time=1.61 sec
 ARIMA(2,1,4)(0,0,0)[0] intercept   : AIC=2807.241, Time=1.77 sec
 ARIMA(1,1,4)(0,0,0)[0] intercept   : AIC=2805.475, Time=0.50 sec
 ARIMA(3,1,4)(0,0,0)[0] intercept   : AIC=2806.876, Time=2.06 sec
 ARIMA(2,1,3)(0,0,0)[0]             : AIC=inf, Time=1.04 sec

Best model:  ARIMA(2,1,3)(0,0,0)[0] intercept
Total fit time: 11.575 seconds
Best Model   Method   RMSE  0  1  2  3  4  5  6  7  ... 21 22 23 24 25 26 27 28 29  S.D.
0    ses  2.133  4  4  4  4  4  4  4  4  ...  4  4  4  4  4  4  4  4  4  2.89

[1 rows x 33 columns]
Menu Number:  8
Performing stepwise search to minimize aic
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=3859.459, Time=0.54 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=4098.204, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=3959.868, Time=0.10 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=3855.828, Time=0.13 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=4096.206, Time=0.03 sec
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=3855.663, Time=0.22 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=3857.608, Time=0.30 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=3857.644, Time=0.45 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=3855.748, Time=0.16 sec
 ARIMA(2,1,0)(0,0,0)[0] intercept   : AIC=3920.939, Time=0.19 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=3853.681, Time=0.07 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=3853.845, Time=0.06 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=3957.872, Time=0.04 sec
 ARIMA(2,1,1)(0,0,0)[0]             : AIC=3855.626, Time=0.14 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=3855.661, Time=0.19 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=3853.765, Time=0.09 sec
 ARIMA(2,1,0)(0,0,0)[0]             : AIC=3918.945, Time=0.07 sec
 ARIMA(2,1,2)(0,0,0)[0]             : AIC=3857.476, Time=0.30 sec

Best model:  ARIMA(1,1,1)(0,0,0)[0]
Total fit time: 3.127 seconds
Best Model   Method   RMSE  0  1  2  3  4  5  6  7  ... 21 22 23 24 25 26 27 28 29  S.D.
0   holt  4.513  9  9  9  9  9  9  9  9  ...  9  9  9  9  9  9  9  9  9  8.55

[1 rows x 33 columns]
Menu Number:  9
Performing stepwise search to minimize aic
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=inf, Time=1.06 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=3395.552, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=3219.308, Time=0.09 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=3017.712, Time=0.14 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=3393.553, Time=0.02 sec
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=3018.937, Time=0.26 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=3018.899, Time=0.26 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=inf, Time=0.82 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=3015.734, Time=0.06 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=3016.959, Time=0.09 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=3016.921, Time=0.09 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=3217.308, Time=0.04 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=inf, Time=0.48 sec

Best model:  ARIMA(0,1,1)(0,0,0)[0]
Total fit time: 3.457 seconds
Best Model   Method   RMSE  0  1  2  3  4  5  6  7  ... 21 22 23 24 25 26 27 28 29  S.D.
0   holt  2.309  4  4  4  4  4  4  4  4  ...  4  4  4  4  4  4  4  4  4  3.36

[1 rows x 33 columns]
Menu Number:  10
Performing stepwise search to minimize aic
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=3630.445, Time=0.83 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=4019.477, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=3788.878, Time=0.10 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=3630.857, Time=0.15 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=4017.486, Time=0.02 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=3630.377, Time=0.39 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=3629.666, Time=0.24 sec
 ARIMA(0,1,3)(0,0,0)[0] intercept   : AIC=3627.460, Time=0.35 sec
 ARIMA(1,1,3)(0,0,0)[0] intercept   : AIC=3628.975, Time=0.56 sec
 ARIMA(0,1,4)(0,0,0)[0] intercept   : AIC=3627.997, Time=1.29 sec
 ARIMA(1,1,4)(0,0,0)[0] intercept   : AIC=3628.644, Time=1.16 sec
 ARIMA(0,1,3)(0,0,0)[0]             : AIC=3626.405, Time=0.13 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=3628.511, Time=0.08 sec
 ARIMA(1,1,3)(0,0,0)[0]             : AIC=3627.948, Time=0.30 sec
 ARIMA(0,1,4)(0,0,0)[0]             : AIC=3627.005, Time=0.29 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=3629.232, Time=0.22 sec
 ARIMA(1,1,4)(0,0,0)[0]             : AIC=3627.648, Time=0.43 sec

Best model:  ARIMA(0,1,3)(0,0,0)[0]
Total fit time: 6.620 seconds
Best Model   Method   RMSE  0  1  2  3  4  5  6  7  ... 21 22 23 24 25 26 27 28 29  S.D.
0    xgb  4.548  3  3  3  3  3  3  3  3  ...  3  3  3  3  3  2  3  3  3  7.89

[1 rows x 33 columns]
Menu Number:  11
Performing stepwise search to minimize aic
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=3260.395, Time=0.59 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=3543.246, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=3383.746, Time=0.16 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=3258.514, Time=0.55 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=3541.248, Time=0.09 sec
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=3259.686, Time=0.37 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=3259.548, Time=0.17 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=3259.422, Time=0.48 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=3256.525, Time=0.05 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=3257.696, Time=0.07 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=3257.558, Time=0.07 sec
 ARIMA(1,1,0)(0,0,0)[0]             : AIC=3381.747, Time=0.05 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=3257.430, Time=0.22 sec

Best model:  ARIMA(0,1,1)(0,0,0)[0]
Total fit time: 2.937 seconds
Best Model   Method   RMSE  0  1  2  3  4  5  6  7  ... 21 22 23 24 25 26 27 28 29  S.D.
0    xgb  2.352  4  4  4  4  4  3  4  4  ...  4  4  4  4  4  4  3  3  3  6.29

[1 rows x 33 columns]
Menu Number:  12
Performing stepwise search to minimize aic
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=2678.851, Time=0.62 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=2947.549, Time=0.03 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=2832.480, Time=0.10 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=2676.507, Time=0.14 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=2945.550, Time=0.03 sec
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=2676.225, Time=0.26 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=2676.874, Time=0.48 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=2677.673, Time=0.41 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=2675.962, Time=0.19 sec
 ARIMA(0,1,3)(0,0,0)[0] intercept   : AIC=2677.278, Time=0.29 sec
 ARIMA(1,1,3)(0,0,0)[0] intercept   : AIC=2679.208, Time=0.53 sec
 ARIMA(0,1,2)(0,0,0)[0]             : AIC=2673.963, Time=0.08 sec
 ARIMA(0,1,1)(0,0,0)[0]             : AIC=2674.509, Time=0.07 sec
 ARIMA(1,1,2)(0,0,0)[0]             : AIC=2675.674, Time=0.17 sec
 ARIMA(0,1,3)(0,0,0)[0]             : AIC=2675.280, Time=0.11 sec
 ARIMA(1,1,1)(0,0,0)[0]             : AIC=2674.226, Time=0.09 sec
 ARIMA(1,1,3)(0,0,0)[0]             : AIC=2677.209, Time=0.25 sec

Best model:  ARIMA(0,1,2)(0,0,0)[0]
Total fit time: 3.863 seconds
Best Model                 Method   RMSE  0  1  2  3  4  5  6  7  ... 21 22 23 24 25 26  \
0  holtwinter_additive  1.473  2  2  2  1  2  1  2  2  ...  2  2  2  1  2  1

  27 28 29  S.D.
0  2  2  2  3.07

[1 rows x 33 columns]
Menu Number:  13
Performing stepwise search to minimize aic
 ARIMA(2,1,2)(0,0,0)[0] intercept   : AIC=inf, Time=0.93 sec
 ARIMA(0,1,0)(0,0,0)[0] intercept   : AIC=2137.077, Time=0.02 sec
 ARIMA(1,1,0)(0,0,0)[0] intercept   : AIC=2029.952, Time=0.07 sec
 ARIMA(0,1,1)(0,0,0)[0] intercept   : AIC=1884.471, Time=0.15 sec
 ARIMA(0,1,0)(0,0,0)[0]             : AIC=2135.077, Time=0.02 sec
 ARIMA(1,1,1)(0,0,0)[0] intercept   : AIC=1883.623, Time=0.23 sec
 ARIMA(2,1,1)(0,0,0)[0] intercept   : AIC=1885.619, Time=0.30 sec
 ARIMA(1,1,2)(0,0,0)[0] intercept   : AIC=1876.687, Time=0.31 sec
 ARIMA(0,1,2)(0,0,0)[0] intercept   : AIC=1883.602, Time=0.22 sec

In [ ]:
AllBestModel

,Menu,Method,RMSE,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,S.D.
0,หมูเด้งต้มยำ,arima,9.591,47,54,49,46,48,45,46,...,47,54,49,46,48,45,46,47,53,19.81
1,ก๋วยเตี๋ยวต้มยำเครื่องทะลัก,holt,0.561,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0.84
2,ข้าวซอยไก่,fbprophet,6.173,17,17,18,16,17,18,21,...,17,17,18,16,17,18,21,17,18,7.25
3,เล้งแซ่บ,holtwinter_multiplicative_damp,1.754,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,3.22
4,ขนมจีนน้ำเงี้ยว,holt_damp,6.403,19,19,19,19,19,19,19,...,19,19,19,19,19,19,19,19,19,12.45
5,ต้มเลือดหมู,fbprophet,4.463,10,11,11,11,10,10,10,...,10,11,11,11,10,11,10,10,11,4.80
6,หมูต้มยำ,fbprophet,10.196,23,25,20,20,20,19,19,...,22,24,18,19,18,18,18,21,24,15.60
7,ต้มยำทะเล,xgb,4.456,3,3,3,3,3,3,3,...,3,3,2,2,3,3,3,3,3,9.22
8,ข้าวผัดพริกเผาทะเล,ses,2.133,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,2.89
9,ข้าวผัดหมู,holt,4.513,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,8.55
10,ยำวุ้นเส้นทะเล,holt,2.309,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,3.36
11,ยำเกี๊ยวกรอบ,xgb,4.548,3,3,3,3,3,3,3,...,3,3,3,3,3,2,3,3,3,7.89
12,หมูต้มยำขลุกขลิก,xgb,2.352,4,4,4,4,4,3,4,...,4,4,4,4,4,4,3,3,3,6.29
13,ต้มยำกุ้ง,holtwinter_additive,1.473,2,2,2,1,2,1,2,...,2,2,2,1,2,1,2,2,2,3.07
14,ยำขนมจีนปลาทู,ses,1.613,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,1.97
15,หมูจัมโบ้,ses,0.781,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1.42
16,ต้มยำหมึกยัดไส้,ses,1.073,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1.55
17,ต้มยำหมึก,fbprophet,2.706,5,5,5,5,6,5,5,...,5,6,5,6,5,6,5,5,6,3.44
18,ข้าวกะเพราหมู,holt,4.895,8,8,8,8,8,9,9,...,9,9,9,9,9,9,9,9,9,7.77
19,ข้าวหมูผัดพริกแกงใต้,holtwinter_multiplicative,0.826,1,1,1,1,1,1,2,...,1,1,1,1,1,1,2,1,1,1.56
20,ต้มยำกุ้งแม่น้ำ,fbprophet,1.223,2,2,3,3,2,2,2,...,2,2,3,3,2,2,2,2,2,1.21
21,ข้าวน้ำพริกปลาทู,holtwinter_multiplicative_damp,1.186,1,2,2,1,1,1,1,...,1,2,2,1,1,1,1,1,2,2.07
22,ลวกจิ้มหมู,holt_damp,0.831,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1.19

In [ ]:
import openpyxl
AllBestModel.to_excel('FC_AllMenu210425.xlsx', sheet_name='My_Best')

----------------------------------------------------------------------------